---
// COMPONENTS //
import ServiceCard from "../../components/ServiceCard.astro";

const colors = ["bg-blue-50", "bg-n-100", "bg-n-200"];

export interface Category {
  id: string;
  name: string;
}

export interface Service {
  id: string;
  name: string;
  icon: string;
  category_id: string;
  photos: any[];
  before_after: any[];
}

const { servicesInfo, showArrow = false } = Astro.props as {
  servicesInfo: { categories: Category[]; services: Service[] };
  showArrow?: boolean;
};

// Split by category id
const designServices = (servicesInfo?.services ?? []).filter(
  (s) => s.category_id === "1"
);
const tradeServices = (servicesInfo?.services ?? []).filter(
  (s) => s.category_id === "2"
);
---

<section>
  <div
    class="container mx-auto flex flex-col gap-14 px-6 py-18 md:gap-24 md:py-24 lg:px-15 xl:px-8"
  >
    <!-- Section title wrapper -->
    <div class="space-y-1 md:space-y-3">
      <p
        class="fade-in text-4xl font-semibold text-blue-500 md:text-6xl 2xl:text-7xl"
      >
        What We Do?
      </p>
      <p
        class="w-full text-lg leading-normal font-light md:text-2xl lg:w-[56%] lg:text-3xl"
      >
        Creative, strategic, and operational solutions — built for the fashion
        industry’s fast lane.
      </p>
    </div>

    <!-- Services wrapper -->
    <div class="flex flex-col gap-18 xl:flex-row xl:gap-5">
      <!-- Design solutions -->
      <div class="flex w-full flex-col gap-10 md:gap-16 xl:w-1/2">
        <p class="text-2xl font-medium md:text-3xl">Design Solutions</p>
        <div class="flex flex-wrap gap-3">
          {
            designServices.map((service: Service, serviceIndex: number) => (
              <div
                class="card-anim card-bottom w-full sm:w-[48%]"
                style={`--delay: ${serviceIndex * 0.1}s`}
              >
                {showArrow ? (
                  /* if you want to route by category, keep ?category=1; if by service, use ?id={service.id} */
                  <a href={`/services/service-consumption/${service.id}`}>
                    <ServiceCard
                      icon={service.icon}
                      title={service.name}
                      color={colors[serviceIndex % colors.length]}
                      showArrow={showArrow}
                    />
                  </a>
                ) : (
                  <ServiceCard
                    icon={service.icon}
                    title={service.name}
                    color={colors[serviceIndex % colors.length]}
                  />
                )}
              </div>
            ))
          }
        </div>
      </div>

      <!-- Trade solutions -->
      <div class="flex w-full flex-col gap-10 md:gap-16 xl:w-1/2">
        <p class="text-2xl font-medium md:text-3xl">Trade Solutions</p>
        <div class="flex flex-wrap gap-3">
          {
            tradeServices.map((service: Service, serviceIndex: number) => (
              <div class="w-full sm:w-[48%]">
                {showArrow ? (
                  <a href={`/services/service-consumption/${service.id}`}>
                    <ServiceCard
                      icon={service.icon}
                      title={service.name}
                      color={colors[serviceIndex % colors.length]}
                      showArrow={showArrow}
                    />
                  </a>
                ) : (
                  <ServiceCard
                    icon={service.icon}
                    title={service.name}
                    color={colors[serviceIndex % colors.length]}
                  />
                )}
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
