---
// COMPONENTS //
import Button from "../../components/Button.astro";

// Section data
const whoWeAreDetails = {
  title: "Who We Are ?",
  description:
    "STYLSMYTH is a specialized staffing solutions company for the fashion industry, providing full-time remote teams that seamlessly integrate into your business.",
  para1:
    "Our model helps fashion companies overseas scale operations efficiently — at a fraction of the cost.",
  para2:
    "We operate and manage your dedicated team from our offices, ensuring smooth delivery and performance without the hassle of hiring or infrastructure. With STYLSMYTH, you get the flexibility of a remote workforce with the control and consistency of an in-house team.",
  buttonText: "Explore STYL Smyth",
  backgroundImage: "/images/background.png",
};
---

<section class="relative">
  <!-- Background image -->
  <div
    class="absolute top-1/2 z-1 -translate-y-1/2 scale-[3] md:scale-[2] xl:scale-[1]"
  >
    <img src={whoWeAreDetails.backgroundImage} alt="background" />
  </div>

  <!-- Content container  -->
  <div
    class="inner-container relative z-2 container mx-auto flex flex-col justify-between gap-10 md:gap-16 lg:px-14 xl:flex-row"
  >
    <!-- Title block -->
    <div
      class="fade-in flex w-full flex-col gap-10 md:gap-16 xl:items-center xl:gap-24"
    >
      <!-- Title -->
      <p class="text-4xl font-semibold text-nowrap md:text-6xl">
        {whoWeAreDetails.title}
      </p>

      <!-- Image  -->
      <img src="/icons/who-we-are.svg" alt="" class="w-40 md:w-80" />
    </div>

    <!-- Content Wrapper -->
    <div class="flex flex-col items-start gap-8 md:gap-14">
      <p
        class="text-2xl font-medium md:text-3xl md:leading-10 lg:text-4xl lg:leading-12"
      >
        {whoWeAreDetails.description}
      </p>

      <!-- Supporting paragraphs -->
      <div
        class="text-n-700 space-y-6 text-base font-normal md:space-y-12 md:text-lg md:leading-10 lg:text-2xl lg:leading-11"
      >
        <p>{whoWeAreDetails.para1}</p>
        <p>
          {whoWeAreDetails.para2}
        </p>
      </div>

      <!-- Button component -->
      <!-- <Button text={whoWeAreDetails.buttonText} variant="outline" showLeftDot /> -->
    </div>
  </div>
</section>
