---
// COMPONENTS //
import Form from "../../components/Form.astro";
import Input from "../../components/Input.astro";

// Dummy CMS data
const contactPageDetails = {
  // Form top title
  formIntro: {
    small: "Want to drive efficiency? Want us to handle the mundane tasks?",
    big: "We’re always listening.",
  },
  // Email + Phone (same style)
  contactDetails: [
    {
      title: "General inquiries",
      value: "info@stylsmyth.com",
    },
    {
      title: "Phone Number",
      value: "+91 7894561230",
    },
  ],
  // Office (different block)
  office: {
    addressTitle: "Sun Mill Compound",
    address:
      "Todi Industrial Estate, 4th floor, B wing, Lower Parel West, Mumbai, Maharashtra - 400013",
  },
};
---

<section>
  <div class="flex flex-col items-center justify-center">
    <!-- Main title -->
    <h2
      class="w-[200%] text-center text-7xl leading-tight font-medium tracking-tighter sm:text-[120px] md:text-[154px] lg:text-[208px] xl:text-[260px] 2xl:text-[340px]"
    >
      Work <span class="text-blue-500">together</span>
    </h2>
    <div
      class="container mx-auto flex flex-col flex-wrap gap-10 px-6 py-8 md:gap-18 md:py-24 lg:gap-24 lg:px-14"
    >
      <div>
        <!-- Second main title -->
        <p class="text-2xl font-light md:text-5xl">
          Let’s take <span class="font-medium">“getting things done”</span> off your
          plate
        </p>
      </div>

      <!-- Form + Contact Details Wrapper -->
      <div class="space-y-8 md:space-y-14 lg:space-y-20">
        <!-- Form top title part -->
        <div class="space-y-2">
          <p
            class="lg::w-[45%] text-md w-full font-medium md:w-[80%] md:text-xl lg:text-2xl"
          >
            {contactPageDetails.formIntro.small}
          </p>
          <p class="text-xl font-semibold md:text-2xl lg:text-3xl">
            {contactPageDetails.formIntro.big}
          </p>
        </div>
        <!-- Form part -->
        <div>
          <div
            class="flex flex-col flex-wrap gap-16 md:gap-20 lg:flex-row lg:items-start"
          >
            <!-- Form wrapper -->
            <div class="flex w-full flex-col gap-10 md:gap-20 xl:w-[42%]">
              <!-- Contact form  -->
              <Form />
            </div>

            <div
              class="flex w-full flex-col justify-between gap-18 md:flex-row md:gap-20 lg:flex-1"
            >
              <!-- Contact details wrapper -->
              <div
                class="flex flex-col gap-10 self-start sm:flex-row md:flex-col lg:flex-1"
              >
                <!-- Mail details -->
                {
                  contactPageDetails.contactDetails[0] && (
                    <div>
                      {/* <!-- Icon -->  */}
                      <div class="mb-1 text-blue-500">
                        <svg
                          class="size-8"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M11.1134 2.00423C9.15311 2.07027 6.66164 2.24018 5.75969 2.36932C3.09417 2.75098 0.941487 4.63086 0.461442 6.99606C0.365675 7.46798 0.172496 9.20425 0.0881144 10.3518C-0.0292686 11.948 -0.0293714 13.0902 0.0878061 14.6644C0.171647 15.7912 0.367731 17.5453 0.461442 18.007C0.860601 19.9737 2.39828 21.6133 4.51747 22.3319C5.17141 22.5536 5.61216 22.636 6.62252 22.7252C10.0629 23.0292 12.2812 23.0734 15.1358 22.8952C16.3939 22.8166 17.7764 22.7002 18.2405 22.6337C20.2125 22.3514 21.9558 21.233 22.9011 19.6439C23.2137 19.1183 23.4308 18.5653 23.5384 18.0201C23.6354 17.5292 23.8259 15.8068 23.9126 14.6382C24.0293 13.0629 24.0292 11.9442 23.9121 10.3518C23.8286 9.21707 23.6333 7.46117 23.5388 6.99606C23.2213 5.43358 22.1658 4.04322 20.6468 3.18651C19.9275 2.78086 19.0595 2.48658 18.2329 2.36824C17.5756 2.27413 15.4023 2.10975 13.9149 2.04164C13.3058 2.01374 11.5333 1.99007 11.1134 2.00423ZM10.4965 3.90526C8.88406 3.96486 6.34794 4.16221 5.78236 4.27217C5.10469 4.4039 4.44792 4.67346 3.90382 5.04319C3.66327 5.20668 3.15845 5.64054 3.15845 5.68379C3.15845 5.71009 4.15987 6.6553 4.81626 7.24858C6.44399 8.7198 8.04492 10.0188 9.59984 11.13C10.5046 11.7766 11.0947 11.9874 12.0001 11.9874C12.9055 11.9874 13.4957 11.7765 14.4003 11.1299C15.9538 10.0195 17.5581 8.71775 19.1839 7.2485C19.8393 6.65627 20.8417 5.71011 20.8417 5.68379C20.8417 5.64054 20.3369 5.20668 20.0964 5.04319C19.6972 4.77196 19.1537 4.51831 18.6699 4.37745C18.219 4.24618 17.6968 4.18096 16.1382 4.06123C13.9459 3.89284 12.1655 3.84363 10.4965 3.90526ZM2.24925 7.48623C2.1889 7.69075 1.98423 9.64422 1.89407 10.8761C1.84292 11.5747 1.85071 13.5675 1.90754 14.3236C1.98842 15.4002 2.15377 16.9512 2.24756 17.5136C2.37517 18.2785 2.79353 19.0124 3.42833 19.5848C4.06117 20.1555 4.88455 20.5564 5.78236 20.7309C6.64568 20.8987 10.2241 21.1262 12.0001 21.1262C13.7761 21.1262 17.3545 20.8987 18.2178 20.7309C19.6747 20.4477 20.886 19.588 21.4551 18.4335C21.6714 17.9947 21.7388 17.7197 21.8428 16.8513C22.216 13.7365 22.2431 11.9386 21.9583 9.17203C21.891 8.51701 21.7635 7.50933 21.7434 7.47275C21.7298 7.44785 21.5839 7.56876 21.2376 7.89198C19.3846 9.62188 17.5651 11.1371 15.7892 12.4292C14.7011 13.2209 14.255 13.4612 13.4657 13.681C12.548 13.9365 11.4521 13.9365 10.5344 13.681C9.75855 13.4649 9.31249 13.227 8.26738 12.4718C6.56654 11.2427 4.61128 9.61724 2.78577 7.91477C2.23751 7.40346 2.26678 7.42685 2.24925 7.48623Z"
                            fill="currentColor"
                          />
                        </svg>
                      </div>

                      {/* <!-- Title -->  */}
                      <p class="tex-md font-semibold md:pb-2 md:text-lg">
                        {contactPageDetails.contactDetails[0].title}
                      </p>

                      {/* <!-- Text Description -->  */}
                      <a
                        href={`mailto:${contactPageDetails.contactDetails[0].value}`}
                      >
                        <p class="text-xl font-normal md:text-2xl">
                          {contactPageDetails.contactDetails[0].value}
                        </p>
                      </a>
                    </div>
                  )
                }

                <!-- Phone details -->
                <div>
                  <!-- Icon -->
                  <div class="mb-1 text-blue-500">
                    <svg
                      class="size-8"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <g clip-path="url(#clip0_3018_30)">
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M6.20457 0.0123488C6.98936 0.106479 7.70671 0.393908 8.29406 0.849599C8.84923 1.28031 11.277 3.48766 11.5439 3.80432C12.0066 4.35344 12.2323 4.97953 12.2324 5.71468C12.2326 6.51548 11.971 7.14026 11.3174 7.90001C11.2199 8.01334 11.1257 8.12434 11.1081 8.14662C11.0812 8.18081 11.1206 8.2526 11.3603 8.60547C12.5222 10.3164 13.6841 11.4798 15.3753 12.6255L15.7804 12.8999L16.0951 12.6349C16.4856 12.3061 16.6671 12.1821 16.9696 12.0373C17.6171 11.7274 18.3123 11.663 19.0318 11.8463C19.3028 11.9153 19.7549 12.1376 20.0117 12.328C20.3658 12.5905 22.4013 14.7849 23.1003 15.6576C23.7628 16.4847 24.0744 17.4654 23.985 18.4408C23.9193 19.1562 23.7408 19.6777 23.3704 20.2363C23.1094 20.6299 22.7361 20.9873 22.1114 21.4418C21.8259 21.6495 21.3747 21.9889 21.1089 22.1959C20.2638 22.8542 19.6605 23.2124 18.9129 23.4997C16.8643 24.2871 14.5723 24.1397 12.631 23.0956C12.0834 22.8011 11.6375 22.4681 10.3046 21.3581C7.64676 19.1447 5.979 17.5382 4.0571 15.3401C2.81685 13.9216 1.58654 12.4209 1.25288 11.9195C-0.165538 9.78809 -0.394938 7.07189 0.64314 4.69984C0.915158 4.0783 1.21006 3.60467 1.78777 2.86147C1.9856 2.607 2.30433 2.1848 2.49607 1.92325C2.93725 1.32143 3.09987 1.12903 3.33927 0.925505C3.92847 0.424651 4.58073 0.133906 5.34285 0.0324241C5.5904 -0.000529215 6.01468 -0.0104255 6.20457 0.0123488ZM6.26377 1.88367C6.75117 1.99471 6.99682 2.14287 7.6698 2.73177C8.4511 3.41543 10.0004 4.84337 10.1441 5.01215C10.3465 5.25002 10.4222 5.52002 10.3803 5.85411C10.3367 6.20135 10.2441 6.34041 9.52128 7.14448C9.08338 7.63155 9.03824 7.71211 9.02395 8.03216C9.01143 8.31203 9.03747 8.38184 9.33211 8.85902C10.7542 11.1621 12.2197 12.7102 14.3335 14.1428C14.8513 14.4937 15.4019 14.8365 15.5537 14.9024C15.7848 15.0027 16.075 14.9914 16.3124 14.8729C16.375 14.8416 16.5903 14.6662 16.7908 14.483C17.292 14.025 17.5854 13.7838 17.7283 13.7122C18.1184 13.5168 18.6346 13.5671 18.9396 13.8302C19.2188 14.0709 20.9973 16.0099 21.5749 16.7033C22.0203 17.238 22.1787 17.6707 22.1479 18.2695C22.1162 18.8865 21.8605 19.3384 21.3176 19.7365C20.9971 19.9716 20.0415 20.689 19.6757 20.9692C19.3446 21.2228 19.0775 21.3917 18.7433 21.5586C17.0088 22.4253 14.9038 22.3396 13.2737 21.336C12.9163 21.116 12.7721 21.005 11.7827 20.1882C8.54163 17.5127 6.74583 15.7292 4.14543 12.6035C3.19745 11.464 2.91911 11.1094 2.7013 10.7637C1.75543 9.26243 1.58423 7.36551 2.24081 5.66142C2.47141 5.06292 2.6812 4.72197 3.36251 3.83825C3.52602 3.62618 3.81207 3.24396 3.99821 2.98884C4.50027 2.3008 4.7646 2.07643 5.25345 1.92341C5.48825 1.84992 6.02321 1.82887 6.26377 1.88367Z"
                          fill="currentColor"></path>
                      </g>
                      <defs>
                        <clipPath id="clip0_3018_30">
                          <rect
                            width="24"
                            height="24"
                            fill="white"
                            transform="matrix(-1 0 0 1 24 0)"></rect>
                        </clipPath>
                      </defs>
                    </svg>
                  </div>

                  <!-- Title -->
                  <p class="tex-md font-semibold md:pb-2 md:text-lg">
                    {contactPageDetails.contactDetails[1].title}
                  </p>

                  <!-- Text Description -->
                  <a href={`tel:${contactPageDetails.contactDetails[1].value}`}>
                    <p class="text-xl font-normal md:text-2xl">
                      {contactPageDetails.contactDetails[1].value}
                    </p>
                  </a>
                </div>
              </div>

              <!-- Location wrapper -->
              <div class="justify-items-center">
                <div class="mb-2.5 flex flex-col gap-8">
                  <p class="text-2xl font-semibold md:text-3xl">
                    Office Location
                  </p>
                  <div class="relative">
                    <!-- Building image -->
                    <img src="/images/building.png" alt="office" />

                    <!-- Location icon -->
                    <div class="absolute -top-6 left-6 text-blue-500">
                      <svg
                        class="size-18"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_3018_23)">
                          <path
                            fill-rule="evenodd"
                            clip-rule="evenodd"
                            d="M17.7793 0.0173027C16.0496 0.204608 14.4918 1.19392 13.5934 2.67564C13.1998 3.32474 12.94 4.06941 12.8431 4.82596C12.7897 5.24289 12.7885 6.02096 12.8406 6.41141C12.9942 7.56339 13.3751 8.44276 14.1146 9.35342C14.929 10.3563 15.7771 11.1194 17.011 11.9591C17.5789 12.3456 17.8908 12.4579 18.3965 12.4579C18.7817 12.4579 19.1192 12.375 19.4092 12.2089C19.7333 12.0234 20.6639 11.3472 21.1224 10.9641C21.8313 10.3719 22.6797 9.44073 23.1225 8.76916C23.3157 8.47618 23.5753 7.94612 23.691 7.60869C23.793 7.31091 23.9209 6.74935 23.9683 6.39089C24.0166 6.02484 24.0082 5.10593 23.9532 4.74538C23.5817 2.31119 21.7164 0.433899 19.2884 0.0505985C18.9843 0.00259602 18.096 -0.0169958 17.7793 0.0173027ZM17.7793 1.87675C15.799 2.2013 14.4691 3.9523 14.6533 5.99237C14.7167 6.694 14.9057 7.27005 15.2396 7.77929C15.5631 8.27265 16.2961 9.06885 16.8663 9.54635C17.4356 10.0231 18.2892 10.6332 18.3868 10.6332C18.4574 10.6332 18.5448 10.5846 18.8373 10.3825C19.6668 9.80925 20.3041 9.26718 20.8248 8.69203C21.6356 7.79659 21.9064 7.32075 22.0906 6.46802C22.1694 6.10326 22.1771 5.22104 22.1046 4.86432C21.9479 4.09353 21.612 3.46808 21.0601 2.91982C20.5285 2.39174 19.9356 2.07113 19.1808 1.90359C18.9219 1.84613 18.0661 1.82973 17.7793 1.87675ZM6.56682 2.60088C5.06913 2.68495 3.45169 2.86596 2.93167 3.00768C2.68582 3.07468 2.32741 3.22501 2.09287 3.35945C1.08897 3.93494 0.378862 4.91065 0.15127 6.02728C-0.0272285 6.90298 -0.0519421 10.4169 0.099503 13.3843C0.207873 15.5075 0.42811 17.9425 0.718039 20.2234C0.871567 21.4313 1.12994 23.1924 1.17757 23.3559C1.24513 23.5877 1.44317 23.8064 1.69043 23.9223L1.83496 23.9901L8.68843 23.9969C15.5141 24.0037 15.5426 24.0035 15.7145 23.9515C15.8515 23.91 15.9189 23.8698 16.0414 23.7564C16.29 23.5263 16.3074 23.473 16.4544 22.4983C16.8052 20.1702 17.0905 17.6784 17.2542 15.5117C17.3031 14.8649 17.268 14.6906 17.0347 14.4202C16.821 14.1727 16.3756 14.0621 16.0652 14.1796C15.7918 14.283 15.5827 14.492 15.4955 14.7489C15.4716 14.8193 15.4339 15.1393 15.4016 15.5459C15.2536 17.4091 15.0406 19.3376 14.7665 21.2969L14.6469 22.1518L13.3328 22.1517L12.0187 22.1516L12.0163 21.1811C12.0136 20.0827 11.9533 18.949 11.8781 18.5817C11.7651 18.0302 11.4431 17.5117 10.9903 17.1517C10.6508 16.8819 10.3042 16.7377 9.78738 16.6513C9.25937 16.5631 8.78425 16.535 8.38572 16.5684C7.3404 16.6562 6.83805 16.8289 6.37348 17.2604C5.92297 17.6789 5.66205 18.1705 5.57871 18.7579C5.52385 19.1444 5.46723 20.3864 5.46465 21.2583L5.46203 22.1518H4.15689H2.85174L2.8386 22.0939C2.81402 21.9856 2.59643 20.393 2.50578 19.6578C2.02637 15.7697 1.82318 12.442 1.85664 9.02627C1.8731 7.34536 1.90069 6.64052 1.96084 6.36518C2.0617 5.90356 2.32851 5.46961 2.69441 5.17213C3.08304 4.8562 3.32925 4.77109 4.1564 4.66686C5.66198 4.47714 6.78448 4.41165 8.77844 4.39731C9.61295 4.39129 10.3304 4.37895 10.3729 4.36987C10.6211 4.31678 10.9061 4.05939 11.0033 3.80042C11.0811 3.5934 11.0681 3.30071 10.972 3.09422C10.8876 2.9128 10.714 2.74028 10.5199 2.645L10.3729 2.5728L8.77844 2.56951C7.72301 2.56735 6.97538 2.57794 6.56682 2.60088ZM18.0236 3.80667C17.2776 3.95608 16.7977 4.62297 16.8489 5.43907C16.876 5.87055 17.0019 6.16533 17.2778 6.44336C17.5749 6.74277 17.9407 6.8849 18.4093 6.88297C18.863 6.88112 19.1903 6.75797 19.4886 6.47697C19.8107 6.17358 19.9526 5.82537 19.9519 5.34026C19.9512 4.8411 19.83 4.52028 19.5271 4.21586C19.1522 3.83909 18.6051 3.6902 18.0236 3.80667ZM4.6061 7.80764C4.42627 7.87732 4.21722 8.07252 4.12271 8.25903C4.05425 8.39409 4.04659 8.43379 4.04659 8.65346C4.04659 8.86445 4.05595 8.91767 4.11525 9.04417C4.20284 9.23101 4.38186 9.40998 4.56874 9.49755L4.71522 9.5662H6.16821H7.6212L7.74978 9.50311C7.8205 9.46842 7.93448 9.38766 8.00309 9.32364C8.4639 8.89365 8.3488 8.13682 7.77668 7.8349L7.64691 7.76643L6.19392 7.76093C4.78774 7.75558 4.73659 7.75707 4.6061 7.80764ZM4.81667 12.5608C4.52379 12.605 4.25865 12.7988 4.12191 13.0685C4.05436 13.2019 4.04659 13.2423 4.04659 13.4614C4.04659 13.6724 4.05595 13.7256 4.11525 13.8521C4.20284 14.039 4.38186 14.2179 4.56874 14.3055L4.71522 14.3742H7.06829H9.42136L9.56974 14.3046C9.74539 14.2223 9.93667 14.0345 10.0244 13.8581C10.1174 13.6712 10.1288 13.3502 10.0501 13.1413C9.97041 12.9299 9.73672 12.6937 9.52422 12.6097L9.36992 12.5487L7.1583 12.5449C5.9419 12.5429 4.88816 12.55 4.81667 12.5608ZM8.39269 18.4134C7.73666 18.5094 7.65702 18.5369 7.53108 18.7107C7.42073 18.863 7.40579 18.9392 7.36298 19.5678C7.3191 20.2116 7.28282 21.912 7.30985 22.0561L7.32779 22.1518H8.75388H10.18V21.369C10.18 20.6225 10.1538 19.8956 10.1034 19.2422C10.0774 18.9045 10.0161 18.7422 9.8677 18.6173C9.76015 18.5268 9.69961 18.5047 9.43422 18.459C9.21665 18.4215 8.53972 18.3919 8.39269 18.4134Z"
                            fill="currentColor"></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_3018_23">
                            <rect width="24" height="24" fill="white"></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </div>
                  </div>
                </div>

                <!-- Address -->
                {
                  contactPageDetails.office.address && (
                    <div class="text-n-950 text-center">
                      <p class="text-2xl font-medium md:text-3xl">
                        {contactPageDetails.office.addressTitle}
                      </p>
                      <p class="tex-lg font-normal md:text-xl">
                        {contactPageDetails.office.address}
                      </p>
                    </div>
                  )
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
