---
// COMPONENTS //

// Section data
const ourStoryDetails = {
  title: "Our Story",
  description:
    "STYLSMYTH was created with a simple vision - to bridge the efficiency gap for global Fashion and Lifestyle brands. ",
  para1:
    "While design and operational needs grew rapidly, companies struggled with rising costs, attrition, and limited scalability. We stepped in to offer a smarter model: dedicated, full-time remote teams that operate like your in-house department, but without the overhead.",
  para2:
    "From design to data-driven operations, STYLSMYTH has become the trusted partner for some of the world’s biggest fashion retailers, helping them scale faster, reduce costs, and focus on creativity and growth.",
  backgroundImage: "/images/background.png",
};
---

<section class="relative">
  <!-- Background image -->
  <div
    class="absolute top-1/2 z-1 -translate-y-1/2 scale-[3] md:scale-[2] xl:scale-[1]"
  >
    <img src={ourStoryDetails.backgroundImage} alt="background" />
  </div>

  <!-- Content container  -->
  <div
    class="inner-container relative z-2 container mx-auto flex flex-col justify-between gap-10 md:gap-16 lg:px-14 xl:flex-row"
  >
    <!-- Title block -->
    <div
      class="fade-in flex w-full flex-col gap-10 md:gap-16 xl:items-center xl:gap-24"
    >
      <!-- Title -->
      <p class="self-start text-4xl font-semibold text-nowrap md:text-6xl">
        {ourStoryDetails.title}
      </p>

      <!-- Image  -->
      <svg
        width="273"
        height="543"
        viewBox="0 0 273 543"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="size-40 md:size-65 lg:size-80"
      >
        <path
          d="M60.7082 338C81.1082 360.8 83.2082 410.5 81.7082 432.5C81.7082 479 90.708 534.5 140.208 534.5C189.708 534.5 186.708 454 186.708 432.5C186.708 411 191.208 359.5 213.708 338C236.208 316.5 264.208 274 264.208 222.5C264.208 171 215.208 92.5 137.208 92.5C59.208 92.5 11.2082 157.5 8.20821 222.5C5.20821 287.5 35.2082 309.5 60.7082 338Z"
          fill="white"
          stroke="#006DFD"
          stroke-width="16"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M134.209 402.5V296.5M134.209 296.5C130.542 283.833 117.609 260.7 95.2088 269.5C67.2088 280.5 60.2088 263 69.7088 253.5C79.2088 244 138.209 215 150.209 191.5C162.209 168 154.709 143.5 136.209 143.5C117.709 143.5 101.228 170.288 129.209 206.5C146.208 228.5 181.209 234.5 197.709 255.5C214.209 276.5 184.208 277 165.208 269.5C151.398 264.049 139.542 281.5 134.209 296.5Z"
          stroke="#006DFD"
          stroke-width="23"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <rect
          x="60.708"
          y="396.5"
          width="149"
          height="52"
          rx="26"
          fill="white"
          stroke="#006DFD"
          stroke-width="14"></rect>
        <rect
          x="60.708"
          y="458.5"
          width="149"
          height="52"
          rx="26"
          fill="white"
          stroke="#006DFD"
          stroke-width="14"></rect>
        <path
          d="M135.208 11V54"
          stroke="#006DFD"
          stroke-width="21"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="path path2"></path>
        <path
          d="M218.208 75.0001L239.208 43"
          stroke="#006DFD"
          stroke-width="21"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="path path3"></path>
        <path
          d="M51.708 75.5L31.208 43.5"
          stroke="#006DFD"
          stroke-width="21"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="path path1"></path>
      </svg>
    </div>

    <!-- Content Wrapper -->
    <div class="fade-in flex flex-col items-start gap-8 md:gap-14">
      <p
        class="text-2xl font-medium md:w-[80%] md:text-3xl md:leading-10 lg:text-3xl lg:leading-10 2xl:w-[85%]"
      >
        {ourStoryDetails.description}
      </p>

      <!-- Supporting paragraphs -->
      <div
        class="text-n-700 space-y-6 text-base font-normal md:space-y-10 md:text-lg md:leading-10 lg:text-xl lg:leading-9"
      >
        <p>{ourStoryDetails.para1}</p>
        <p>
          {ourStoryDetails.para2}
        </p>
      </div>
    </div>
  </div>
</section>
