---
// COMPONENTS //
import Button from "../../components/Button.astro";

// Section data
const whoWeAreDetails = {
  title: "Who We Are",
  description:
    "STYLSMYTH is a specialized staffing solutions company for the fashion industry, providing full-time remote teams that seamlessly integrate into your business.",
  para1:
    "Our model helps fashion companies overseas scale operations efficiently — at a fraction of the cost.",
  para2:
    "We operate and manage your dedicated team from our offices, ensuring smooth delivery and performance without the hassle of hiring or infrastructure. With STYLSMYTH, you get the flexibility of a remote workforce with the control and consistency of an in-house team.",
  buttonText: "Explore STYLSmyth",
  backgroundImage: "/images/background.png",
};
---

<section class="relative">
  <!-- Background image -->
  <div
    class="absolute top-1/2 z-1 -translate-y-1/2 scale-[3] md:scale-[2] xl:scale-[1]"
  >
    <img src={whoWeAreDetails.backgroundImage} alt="background" />
  </div>

  <!-- Content container  -->
  <div
    class="inner-container relative z-2 container mx-auto flex flex-col justify-between gap-10 md:gap-16 lg:px-14 xl:flex-row-reverse"
  >
    <!-- Title block -->
    <div
      class="fade-in flex w-full flex-col gap-10 md:gap-16 xl:items-center xl:gap-24"
    >
      <!-- Title -->
      <p class="text-4xl font-semibold text-nowrap md:text-6xl">
        {whoWeAreDetails.title}
      </p>

      <!-- Image  -->
      <svg
        width="362"
        height="362"
        viewBox="0 0 362 362"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        class="size-30 md:size-45 lg:size-60"
      >
        <path
          d="M181 33.5659C201.422 33.5659 220.505 37.4379 238.282 45.1616C256.126 52.9148 271.731 63.4863 285.123 76.8774C298.514 90.2686 309.084 105.874 316.837 123.718C324.561 141.495 328.434 160.577 328.434 181C328.434 201.165 324.564 220.188 316.834 238.101C309.08 256.071 298.51 271.735 285.123 285.123C271.731 298.514 256.126 309.084 238.282 316.837C220.505 324.561 201.423 328.434 181 328.434C160.834 328.434 141.811 324.564 123.899 316.834C105.929 309.08 90.2647 298.51 76.8774 285.123C63.4901 271.735 52.9195 256.071 45.1655 238.101C37.4361 220.188 33.5659 201.165 33.5659 181C33.566 160.577 37.438 141.495 45.1616 123.718C52.9148 105.874 63.4863 90.2686 76.8774 76.8774C90.2648 63.4901 105.929 52.9196 123.899 45.1655C141.811 37.4362 160.834 33.566 181 33.5659ZM149.062 242.227C152.132 253.482 156.101 264.115 160.975 274.12C165.839 284.103 171.597 293.698 178.245 302.903L181 306.717L183.755 302.903C190.403 293.698 196.16 284.103 201.024 274.12C205.898 264.115 209.867 253.482 212.937 242.227L214.108 237.934H147.891L149.062 242.227ZM73.9849 243.039C81.4666 255.938 90.8277 267.173 102.061 276.728C113.348 286.328 126.252 293.457 140.743 298.115L148.839 300.717L144.767 293.251C140.317 285.092 136.422 276.622 133.083 267.84C129.743 259.059 126.957 249.963 124.728 240.55L124.109 237.934H71.0239L73.9849 243.039ZM237.272 240.55C235.043 249.963 232.257 259.059 228.917 267.84C225.578 276.622 221.683 285.092 217.233 293.251L213.161 300.717L221.256 298.115C235.747 293.457 248.652 286.329 259.939 276.729V276.728C271.172 267.173 280.533 255.938 288.015 243.039L290.975 237.934H237.891L237.272 240.55ZM60.8062 150.009C59.5186 155.16 58.551 160.255 57.9048 165.295C57.2568 170.35 56.9341 175.586 56.9341 181C56.9341 186.413 57.2568 191.649 57.9048 196.704C58.551 201.744 59.5185 206.84 60.8062 211.991L61.4497 214.566H119.334L118.749 210.663C118.006 205.713 117.45 200.829 117.08 196.011C116.71 191.202 116.524 186.198 116.524 181C116.524 175.801 116.71 170.798 117.08 165.989C117.45 161.171 118.006 156.287 118.749 151.337L119.334 147.434H61.4497L60.8062 150.009ZM142.193 150.329C141.427 155.434 140.852 160.481 140.468 165.467C140.084 170.462 139.892 175.64 139.892 181C139.892 186.359 140.084 191.538 140.468 196.533C140.852 201.519 141.427 206.565 142.193 211.67L142.626 214.566H219.373L219.807 211.67C220.573 206.565 221.148 201.519 221.532 196.533C221.916 191.538 222.107 186.359 222.107 181C222.107 175.64 221.916 170.462 221.532 165.467C221.148 160.481 220.573 155.434 219.807 150.329L219.373 147.434H142.626L142.193 150.329ZM243.25 151.337C243.993 156.287 244.55 161.171 244.92 165.989C245.29 170.798 245.476 175.801 245.476 181C245.476 186.198 245.29 191.202 244.92 196.011C244.55 200.829 243.993 205.713 243.25 210.663L242.666 214.566H300.549L301.193 211.991C302.481 206.84 303.449 201.744 304.095 196.704C304.743 191.649 305.066 186.413 305.066 181C305.066 175.586 304.743 170.35 304.095 165.295C303.449 160.255 302.481 155.159 301.193 150.008L300.549 147.434H242.666L243.25 151.337ZM140.743 63.8843C126.252 68.5421 113.348 75.6708 102.061 85.271C90.8275 94.8259 81.4667 106.062 73.9849 118.961L71.0239 124.066H124.109L124.728 121.45C126.957 112.037 129.743 102.941 133.083 94.1587C136.422 85.3772 140.317 76.9075 144.767 68.7485L148.839 61.2827L140.743 63.8843ZM178.245 59.0972C171.597 68.3016 165.839 77.8967 160.975 87.8804C156.101 97.8845 152.132 108.517 149.062 119.772L147.891 124.066H214.108L212.937 119.772C209.867 108.517 205.898 97.8846 201.024 87.8804C196.16 77.8967 190.403 68.3016 183.755 59.0972L181 55.2817L178.245 59.0972ZM217.233 68.7485C221.683 76.9075 225.578 85.3772 228.917 94.1587C232.257 102.941 235.043 112.037 237.272 121.45L237.891 124.066H290.975L288.015 118.961C280.533 106.062 271.172 94.8259 259.939 85.271C248.652 75.6708 235.747 68.5421 221.256 63.8843L213.161 61.2827L217.233 68.7485Z"
          fill="#006DFD"
          stroke="white"
          stroke-width="6.798"></path>
        <path
          d="M247.773 61.5562C247.773 61.5562 371.757 23.5453 350.037 103.186C328.317 182.827 88.4915 342.106 31.4765 342.106C-25.5385 342.106 52.4911 237.11 52.4911 237.11"
          stroke="#006DFD"
          class="draw-globe"
          stroke-width="13.596"></path>
      </svg>
    </div>

    <!-- Content Wrapper -->
    <div class="flex flex-col items-start gap-8 md:gap-14">
      <p
        class="text-2xl font-medium md:text-3xl md:leading-10 lg:text-3xl lg:leading-10"
      >
        {whoWeAreDetails.description}
      </p>

      <!-- Supporting paragraphs -->
      <div
        class="text-n-700 space-y-6 text-base font-normal md:space-y-12 md:text-lg md:leading-10 lg:text-2xl lg:leading-11"
      >
        <p>{whoWeAreDetails.para1}</p>
        <p>
          {whoWeAreDetails.para2}
        </p>
      </div>

      <!-- Button component -->
      <!-- <Button text={whoWeAreDetails.buttonText} variant="outline" showLeftDot /> -->
    </div>
  </div>
</section>
