---
// Interface
interface Props {
  text: string;
  onClick?: string;
  variant?: "outline" | "solid" | "default";
  showLeftDot?: boolean;
  showRightDot?: boolean;
  extraClasses?: string;
  rightArrow?: boolean;
  type?: "button" | "submit" | "reset";
}

// Default values
const {
  text,
  showLeftDot = false,
  showRightDot = false,
  onClick,
  variant = "solid",
  extraClasses = "",
  rightArrow = false,
  type = "button",
} = Astro.props;

// Common class
const baseClasses =
  " flex items-center justify-center rounded-4xl text-sm md:text-base font-medium py-2 px-4 md:py-3.5 md:px-8 cursor-pointer flex gap-4 items-baseline transition-colors duration-200";

// Variant base classes
const variants = {
  solid:
    "border border-transparent bg-n-950 text-n-50 hover:bg-n-50 hover:text-n-950  hover:border-n-950 ",
  outline:
    "border border-n-950 bg-n-50 text-n-950 hover:bg-n-950 hover:text-n-50",
  default: "bg-gray-200 text-gray-900 hover:bg-gray-300",
};

// Passing as a merge class
const classes = `${baseClasses} ${variants[variant]} ${extraClasses}`;
---

<!-- Button -->
<div class={classes}>
  <!-- Left dot -->
  {showLeftDot && <span class="size-2 rounded-full bg-current" />}

  <!-- Main Button with text -->
  <button
    onclick={onClick}
    class="flex cursor-pointer items-center gap-2.5"
    type={type}
  >
    {text}
    <!-- Right Arrow -->
    {
      rightArrow && (
        <div class="-rotate-90">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M16.668 16.3154C17.0585 15.9248 17.6917 15.9248 18.0822 16.3154C18.4728 16.7059 18.4728 17.339 18.0822 17.7296L13.4166 22.3952C12.6356 23.1762 11.3692 23.1762 10.5882 22.3952L5.9198 17.7267C5.5293 17.3362 5.5293 16.703 5.9198 16.3125C6.3103 15.922 6.9435 15.922 7.334 16.3125L11 19.9786V2.00012C11 1.44783 11.4477 1.00012 12 1.00012C12.5523 1.00012 13 1.44783 13 2.00012V19.9833L16.668 16.3154Z"
              fill="currentColor"
            />
          </svg>
        </div>
      )
    }
  </button>

  <!-- Right dot -->
  {showRightDot && <span class="size-2 rounded-full bg-current" />}
</div>
