---
// Interface
interface Props {
  text: string;
  onClick?: string;
  variant?: "outline" | "solid" | "default";
  showLeftDot?: boolean;
  showRightDot?: boolean;
}

// Default values
const {
  text,
  showLeftDot = false,
  showRightDot = false,
  onClick,
  variant = "solid",
} = Astro.props;

// Common class
const baseClasses =
  "h-[55px] flex items-center justify-center rounded-4xl text-base font-medium py-2.5 px-8 cursor-pointer flex gap-2 items-baseline transition-colors duration-200";

// Variant base classes
const variants = {
  solid:
    "border border-transparent bg-n-950 text-n-50 hover:bg-n-50 hover:text-n-950  hover:border-n-950 ",
  outline:
    "border border-n-950 bg-n-50 text-n-950 hover:bg-n-950 hover:text-n-50",
  default: "bg-gray-200 text-gray-900 hover:bg-gray-300",
};

// Passing as a merge class
const classes = `${baseClasses} ${variants[variant]}`;
---

<!-- Button -->
<div class={classes}>
  <!-- Left dot -->
  {showLeftDot && <span class="size-2 rounded-full bg-current" />}

  <!-- Main Button with text -->
  <button onclick={onClick}>
    {text}
  </button>

  <!-- Right dot -->
  {showRightDot && <span class="size-2 rounded-full bg-current" />}
</div>
